.titulo{
    background-color: #e9e7e7;
    border-radius: 12px;
    padding: 10px;  
    font-family: Arial;
    width: 35%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.336);
}
.letra{
    color: rgb(42, 42, 42);
}